
<h4>Enter the OTP</h4>

<form action="/otp" method="POST">
    <div>
        <label for="otp">OTP</label>
        <input type="number" id="otp" name="otp" required>
      </div>
      <button type="submit">Verify OTP</button>
</form>

